
.about-us {
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  box-sizing: border-box; 
  margin-top: -20px;
  padding: 0;
  margin-top:0px;
  font-family: 'ClashDisplay-Regular','ClashDisplay-Medium','ClashDisplay-Bold','ClashDisplay-SemiBold','ClashDisplay-Variable';
  display:block;
  height: 175vh;
  width:100%;
  align-items: center;
  justify-content: center;
}

.about-us > h1 {
  color:#ffff;
  margin: 1rem 0;
  font-size: 100px;
  font-family:"ClashDisplay-Bold";
  text-align: center;
  justify-content: center;

}


.about-us > p {
  color:#ffff;
  font-size: 20px;
  width: 98%;
  margin-left: 1rem;
  margin-top: 1rem;
  font-family: "ClashDisplay-Medium";
  text-align:center;
  justify-items:center;
}

.about-us > h2 {
  color:#ffff;
  margin: 1rem 0;
  font-size: 50px;
  font-family:"ClashDisplay-Bold";
  text-align: center;
  justify-content: center;

}

.themes-container {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  align-items:center;
  position: absolute;
  margin-left: 12.5rem;
}

.theme {
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll; 
  border-radius: 15px;
  width:300px;
  filter: brightness(0) invert(1);
  height:320px;
  margin: 20px;
  align-items:end;
}

.theme:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}




.theme > p {
  margin-left: 20px;
  color:#ffff;
  font-size: 20px;
  width: 100%;
  margin-top:22rem;
  font-family: "ClashDisplay-Medium";
  text-align:center;
  justify-items:center;
}

@media only screen and (max-width: 1300px) {
  .themes-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .themes-container {
    grid-template-columns: 1fr;
  }
}

