
.about-us {
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  box-sizing: border-box; 
  margin-top: -20px;
  padding: 0;
  margin-top:0px;
  font-family: 'ClashDisplay-Regular','ClashDisplay-Medium','ClashDisplay-Bold','ClashDisplay-SemiBold','ClashDisplay-Variable';
  display:block;
  height: 175vh;
  width:100%;
  align-items: center;
  justify-content: center;
}

.about-us > h1 {
  color:#ffff;
  margin: 1rem 0;
  padding-top:3rem;
  font-size: 90px;
  font-family:"ClashDisplay-Bold";
  text-align: center;
  justify-content: center;

}


.about-us > p {
  color:#ffff;
  font-size: 20px;
  width: 95%;
  margin-left:3rem;
  margin-top: 1rem;
  font-family: "ClashDisplay-Medium";
  text-align:center;
  align-self:center;
  align-items:center;
}

.about-us > h2 {
  color:#ffff;
  margin: 1rem 0;
  font-size: 50px;
  font-family:"ClashDisplay-Bold";
  text-align:center;
  justify-content: center;

}

.themes-container {
  width: 100%;
  height: 75vh;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  place-items:center;
  position:relative;
}

.theme {
  background: transparent;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll; 
  border-radius: 15px;
  width:300px;
  transform: scale(0.5);
  filter: brightness(0) invert(1);
  height:320px;
  align-items:end;
}



figure > p {
  margin-left: 20px;
  color:#ffff;
  font-size: 20px;
  width: 100%;
  margin-top:2rem;
  font-family: "ClashDisplay-Medium";
  text-align:center;
  justify-items:center;
}


/*@media only screen and (min-width: 480px) {
  .about-us {
    height:1000vh;
    width:100%;
  }

  .themes-container {
    border: none;
    width:100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    height:200vh;
    align-items:center;
    justify-content:center;
  }

  .theme {
    size:30%;
  }

}

@media only screen and (min-width: 576px) {
  .about-us {
    height:1000vh;
    width:100%;
  }

  .themes-container {
    border: none;
    width:100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    height:500vh;
    align-items:center;
    justify-content:center;
  }

  .theme {
    size:30%;
  }

}

@media only screen and (min-width: 360px) {
  .about-us {
    height:400vh;
    width:100%;
    text-align:Center;
  }

  .themes-container {
    border: none;
    width:100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    height:200vh;
    align-items:center;
    justify-content:center;
    margin-left:0px;
  }

  .theme {
    size:30%;
  }

}

@media only screen and (min-width: 400px) {
  .about-us {
    height:800vh;
    width:100%;
    text-align:Center;
  }

  .themes-container {
    border: none;
    width:100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    height:400vh;
    align-items:center;
    justify-content:center;
    margin-left:0px;
  }

  .theme {
    size:10%;
  }

}

@media only screen and (min-width: 768px) {
  .about-us {
    height:350vh;
    width:100%;
  }

  .themes-container {
    border: none;
    width:100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    height:250vh;
    align-items:center;
    justify-content:center;
  }

  .theme {
    size:30%;
  }

}
/*
@media only screen and (min-width: 1200px) {
  .about-us {
    height:200vh;
    width:100%;
  }

  .themes-container {
    border: none;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr;
    height:150vh;
    align-items:center;
    justify-content:center;
  }

  .theme {
    size:30%;
  }

}

@media only screen and (min-width: 1600px) {
  .about-us {
    height:200vh;
    width:100%;
  }

  .themes-container {
    border: none;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr;;
    height:150vh;
    align-items:center;
    justify-content:center;
  }

  .theme {
    size:30%;
  }

}
*/
