* {
   font-family: 'ClashDisplay-Regular','ClashDisplay-Medium','ClashDisplay-Bold','ClashDisplay-SemiBold','ClashDisplay-Variable';
}


/* Style the tab */
.tab {
     --font-color-dark: #323232;
     --font-color-light: #FFF;
     --bg-color: #fff;
     --main-color: #323232;
     position: relative;
     width: fit-content;
     padding-top:0.5rem;
     padding-left:0.5rem;
     padding-right:0.5rem;
     padding-bottom:0.5rem;
     height: 50px;
     background-color: var(--bg-color);
     border: 2px solid var(--main-color);
     border-radius: 34px;
     display: flex;
     flex-direction: row;
     box-shadow: 4px 4px var(--main-color);
}

/* Style the buttons inside the tab */
.tab button {
    font-size: 17px;
    width: 100px;
    position:sticky;
    background-color: var(--bg-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Change background color of buttons on hover */
.tab button:hover {
      background-color: black;
      color:white;
      border-radius: 9px;
}

/* Create an active/current tablink class */
.tab button.active {
      background-color: black;
      color: white;
      border-radius: 9px;
}

/* Style the tab content */
.tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
}

/* Style the close button */
.topright {
      float: right;
      cursor: pointer;
      font-size: 28px;
}

.topright:hover {
      color: red;
}

.tabcontent {
      display: none;
}

    
    

h2 {
      color: white;
      margin: 1rem 0;
      font-weight: 900;
      font-size: 50px;
      font-family:"ClashDisplay-Bold";
      text-align:center;
      justify-content: center;
      margin-bottom: 25px; 
}


p {
      color: #ffff;
      font-size:20px;
      font-family:'ClashDisplay-Regular';
      text-align: justify;
      margin-right:3rem;
      margin-left:3rem;
      justify-content:center;
}




.form>div {
      display: flex;
      margin-bottom: 20px;
      margin-left: 1rem;
}

.form>h1 {
      display: flex;
      align-self: center;
      font-family: 'ClashDisplay-SemiBold';
      color: #ffff;
      margin-left: 1rem;
      font-size: 20px;

}


.form>div>p {
      display: flex;
      text-align: left;
      font-family: 'ClashDisplay-Regular';
      color: #ffff;
      margin-left: 10rem;
      font-size: 20px;
}


.container {
      width: 100%;
      background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
      border: 2px solid transparent;
      padding: 32px 24px;
      font-size: 14px;
      font-family: inherit;
      display: flex;
      flex-direction: column;
      gap: 20px;
      box-sizing: border-box;
      border-radius: 16px;
      background-size: 200% 100%;
      animation: gradient 5s ease infinite;
}

@keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
    
      50% {
        background-position: 100% 50%;
      }
    
      100% {
        background-position: 0% 50%;
      }
    }




.label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 600;
      color: #Ffff;
}

.control {
      position: relative;
}

.input,
.select select {    
      padding: 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      width: 250px;
      height: 40px;
      border-radius: 5px;
      border: 2px solid var(--main-color);
      background-color: black;
      box-shadow: 4px 4px var(--main-color);
      font-size: 15px;
      font-weight: 600;
      color: var(--font-color);
      padding: 5px 10px;
      outline: none;
}

.input::placeholder {
 color:grey;
}


.input:focus,
.select select:focus {
      outline: none;
      border-color: #212121;
      box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.select select {
      appearance: none;
      color:white;
      height:50px;
      padding-right: 2.5rem;
      background-repeat: no-repeat;
      background-position: right 0.75rem center;
      background-size: 8px 10px;
      width: 200px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
      background: transparent;
      margin-bottom: 1rem;
}

.checkbox {
      display: inline-flex;
      align-items: center;
      margin-right: 1rem;
      margin-bottom: 0.5rem;
      font-size: 1rem;
      line-height: 1.5;
      color: black;
      cursor: pointer;
}

.checkbox input[type="checkbox"] {
      margin-right: 0.5rem;
}

.sign-up-button {
  position: relative;
  background-color: white;
  display: inline-block;
  margin: 15px;
  width: 200px;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
  font-family: 'ClashDisplay-Medium';
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}

.sign-up-button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}


.sign-up-button:active {
      transform: scale(0.9);
    }

.message {
      margin-top: 1.5rem;
      padding: 1rem;
      border-radius: 4px;
      background-color: #f0f0f0;
      color: #363636;
      font-size: 1rem;
      line-height: 1.5;
}

.message.is-success {
      background-color: #effaf3;
      color: #257942;
}

.message.is-danger {
      background-color: #feecf0;
      color: #cc0f35;
}

.input-group-school, 
.input-group-personal {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      font-family: 'ClashDisplay-Bold';
      align-self: Center;
      width: 30%;
      color: #ffff;
}


.input-group>label {
      font-size: 20px;;
      display: block;
      font-family: 'ClashDisplay-Medium';
      font-weight: 700;
      color: #ffff;
      margin-bottom: 1rem;
}

.input-group-accom {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      color: #ffff;
      font-family: 'ClashDisplay-Medium';
      width: 30%;
      margin-bottom: 1rem;
      align-self: center;
}

.input-group-accom>label {
      font-size: 0.9rem;
      display: block;
      font-family: 'ClashDisplay-Regular';
      font-weight: 700;
      color: #ffff;
      margin-bottom: 1rem;
}

.events-container>h3 {
      display: flex;
      align-self: center;
      font-family: 'ClashDisplay-SemiBold';
      color: #ffff;
      margin-left: 1rem;
      font-size: 30px;
}

.events-container {
      width: 100%;
      height: 175vh;
      padding: 10px;
      position: sticky;
      margin: 1rem 0;
      align-self: center;
}


.input {
      width: 50%;
      max-width: 800px;
      margin-bottom: 1rem;
}


input[type="text"],
input[type="email"],
input[type="number"],
textarea {
      width: 65%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
      background: transparent;
      margin-bottom: 1rem;
}


.input>div {
      padding: 0.5rem 1rem;
      background: #e34728;
      margin-left: 0.5rem;
      color: #fff;
      font-weight: 700;
      cursor: pointer;
}

.add-btn {
      padding: 0.5rem 1rem;
      background: #ccc;
      border: none;
      font-size: 0.9rem;
      color: #fff;
      font-weight: 700;
      cursor: pointer;
}

.center {
      display: flex;
      justify-content: center;
}


.dialog-box {
      margin: 0.5rem 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
      grid-gap: 1rem;
      font-family: 'ClashDisplay-Regular';
      color: #ffff;
}

.dialog-box>input,
.dialog-box>select {
      padding: 0.5rem 0.5rem;
      border: 1px solid rgba(92, 5, 102, 0.502);
}

.dialog-box>input:focus,
.dialog-box>select:focus {
      outline: none;
}

.hide {
      display: none;
}

.modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
}

.close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
}

.close:hover,
.close:focus {
      color: #7F00FF;
      text-decoration: none;
      cursor: pointer;
}

table {
      width: 100%;
      border-collapse: collapse;
}

th,
td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
}

tr:hover {
      background-color: #f5f5f5;
}

@font-face {
      font-family: 'ClashDisplay-Variable';
      src: url('../fonts/ClashDisplay-Variable.woff2') format('woff2'),
            url('../fonts/ClashDisplay-Variable.woff') format('woff'),
            url('../fonts/ClashDisplay-Variable.ttf') format('truetype');
      font-weight: 200 700;
      font-display: swap;
      font-style: normal;
}


@font-face {
      font-family: 'ClashDisplay-Extralight';
      src: url('../fonts/ClashDisplay-Extralight.woff2') format('woff2'),
            url('../fonts/ClashDisplay-Extralight.woff') format('woff'),
            url('../fonts/ClashDisplay-Extralight.ttf') format('truetype');
      font-weight: 200;
      font-display: swap;
      font-style: normal;
}


@font-face {
      font-family: 'ClashDisplay-Light';
      src: url('../fonts/ClashDisplay-Light.woff2') format('woff2'),
            url('../fonts/ClashDisplay-Light.woff') format('woff'),
            url('../fonts/ClashDisplay-Light.ttf') format('truetype');
      font-weight: 300;
      font-display: swap;
      font-style: normal;
}


@font-face {
      font-family: 'ClashDisplay-Regular';
      src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2'),
            url('../fonts/ClashDisplay-Regular.woff') format('woff'),
            url('../fonts/ClashDisplay-Regular.ttf') format('truetype');
      font-weight: 400;
      font-display: swap;
      font-style: normal;
}


@font-face {
      font-family: 'ClashDisplay-Medium';
      src: url('../fonts/ClashDisplay-Medium.woff2') format('woff2'),
            url('../fonts/ClashDisplay-Medium.woff') format('woff'),
            url('../fonts/ClashDisplay-Medium.ttf') format('truetype');
      font-weight: 500;
      font-display: swap;
      font-style: normal;
}


@font-face {
      font-family: 'ClashDisplay-Semibold';
      src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2'),
            url('../fonts/ClashDisplay-Semibold.woff') format('woff'),
            url('../fonts/ClashDisplay-Semibold.ttf') format('truetype');
      font-weight: 600;
      font-display: swap;
      font-style: normal;
}


@font-face {
      font-family: 'ClashDisplay-Bold';
      src: url('../fonts/ClashDisplay-Bold.woff2') format('woff2'),
            url('../fonts/ClashDisplay-Bold.woff') format('woff'),
            url('../fonts/ClashDisplay-Bold.ttf') format('truetype');
      font-weight: 700;
      font-display: swap;
      font-style: normal;
}

@media only screen and (min-width: 480px) {
      .events-container {
        width: 240px;
        height: 800vh;
      }

      .container {
        height:1200vh;
        width:480px;
      }

      .tabcontent {
        width:480px;
        height:1200vh;
      }
}

@media only screen and (min-width: 576px) {
      .events-container {
        width: 240px;
        height: 800vh;
      }

      .container {
        height:1200vh;
        width:480px;
      }

      .tabcontent {
        width:480px;
        height:1200vh;
      }
}

@media only screen and (min-width: 360px) {
      .events-container {
        width: 240px;
        height: 320vh;
      }

      .container {
        height:470vh;
        width:360px;
      }

      .tabcontent {
        width:360px;
        height:480vh;
        border:none;
      }
}

@media only screen and (min-width: 400px) {
      .events-container {
        width: 400px;
        height: 900vh;
      }

      .container {
        margin-top:2rem;
        height:1100vh;
        width:400px;
      }

      .tabcontent {
        height:1120vh;
        border:none;
      }
}

@media only screen and (min-width: 768px) {
      .events-container {
        width: 750px;
        height: 250vh;
      }

      .container {
        height:400vh;
        width:700px;
      }

      .tabcontent {
        width:700px;
        height:450vh;
      }
}

@media only screen and (min-width: 1200px) {
      .events-container {
        width: 1000px;
        height: 250vh;
      }

      .container {
        height:150vh;;
        width:1000px;
      }

      .tabcontent {
        width:1000px;
        height:150vh;
      }
}

@media only screen and (min-width: 1600px) {
      .events-container {
        width: 1000px;
        height: 200vh;
      }

      .container {
        height:400vh;;
        width:1200px;
      }

      .tabcontent {
        width:1500px;
        height:400vh;
      }
}