

.home-container {
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:scroll;
  height:200vh;
  width: 100%;
  display:grid;
  grid-template-rows:auto;
  grid-template-columns:1fr 1fr 1fr;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit:cover;
}


.home-container > h1 {
  color: #ffff;
  font-size: 100px;
  font-family:'ClashDisplay-Bold';
  margin-top: -100px;
  text-align: center;
}

.home-container > p {
  margin-top: 8px;
  color: #ffff;
  font-size: 75px;
  font-family: 'ClashDisplay-Medium';
}

.BTF-container > h1 {
  color: #ffff;
  font-size: 100px;
  font-family:'ClashDisplay-Bold';
  margin-top: -100px;
  text-align: center;
}

.BTF-container > p {
  margin-top: 8px;
  color: #ffff;
  font-size: 75px;
  font-family: 'ClashDisplay-Medium';
}


.BTF-container {
  background-size:cover;
  background-image: url('./logo2.jpg');
  background-repeat:no-repeat;
  background-attachment:scroll;
  height:150vh;
  width: 100%;
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
  text-align:center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit:cover;
}

.left {
  height: 100%;
  flex: 33%;
  display:flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  height: 100%;
  flex: 34%;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}

.right {
  height: 100%;
  flex: 33%;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}

.left > h1 {
  color: #ffff;
  font-size: 100px;
  font-family:'ClashDisplay-Bold';
  margin-top: -100px;
  text-align: center;
}

.center > h1 {
  color: #ffff;
  font-size: 100px;
  font-family:'ClashDisplay-Bold';
  margin-top: -100px;
  text-align: center;
}

.right > h1 {
  color: #ffff;
  font-size: 100px;
  font-family:'ClashDisplay-Bold';
  margin-top: -100px;
  text-align: center;
}


.home-btns {
  margin-top: 32px;
}

@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('./fonts/ClashDisplay-Variable.woff2') format('woff2'),
       url('./fonts/ClashDisplay-Variable.woff') format('woff'),
       url('./fonts/ClashDisplay-Variable.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url('./fonts/ClashDisplay-Extralight.woff2') format('woff2'),
       url('./fonts/ClashDisplay-Extralight.woff') format('woff'),
       url('./fonts/ClashDisplay-Extralight.ttf') format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Light';
  src: url('./fonts/ClashDisplay-Light.woff2') format('woff2'),
       url('./fonts/ClashDisplay-Light.woff') format('woff'),
       url('./fonts/ClashDisplay-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('./fonts/ClashDisplay-Regular.woff2') format('woff2'),
       url('./fonts/ClashDisplay-Regular.woff') format('woff'),
       url('./fonts/ClashDisplay-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('./fonts/ClashDisplay-Medium.woff2') format('woff2'),
       url('./fonts/ClashDisplay-Medium.woff') format('woff'),
       url('./fonts/ClashDisplay-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('./fonts/ClashDisplay-Semibold.woff2') format('woff2'),
       url('./fonts/ClashDisplay-Semibold.woff') format('woff'),
       url('./fonts/ClashDisplay-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('./fonts/ClashDisplay-Bold.woff2') format('woff2'),
       url('./fonts/ClashDisplay-Bold.woff') format('woff'),
       url('./fonts/ClashDisplay-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


